.transactionTable {
  width: 100%;
  color: black;
  border: 1px solid black;
  border-collapse: collapse;
}

.transactionTable > thead > tr > th {
  background-color: #2a2a2a;
  color: white;
  border: 1px solid black;
  text-align: left;
  padding: 4px 8px;
  font-size: 18px;
}

.transactionTable > tbody > tr {
  background-color: #ffffff;
}

.transactionTable > tbody > tr:nth-child(odd) {
  background-color: #d3d3d3;
}

.transactionTable > tbody > tr > td {
  border: 1px solid black;
  text-align: left;
  padding: 4px 8px;
  font-weight: 500;
}
